* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* root styles */
#root {
  /* background-color: #686868; */
  /* background-color: rgb(146, 160, 222); */
  /* font-family: "Poppins", sans-serif; */
  min-height: 100vh;
  font-family: "Press Start 2P", Arial, Helvetica Neue, Helvetica, sans-serif;
  background-image: url("/public/imgs/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  image-rendering: auto;
}
/* header styles */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 5%;
  font-weight: bold;
  gap: 10px;
  text-decoration: underline;
  cursor: pointer;
  /* background-color: rgb(36, 32, 32); */
  /* background-color: #001b38; */
  /* box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.3), */
  /* 0 4px 6px -4px rgba(255, 255, 255, 0.2); */
}
.header > h1 span {
  color: red;
}
/* score board styles */
.score-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* padding: 1% 5%; */
}
.score-board > h3:last-child {
  margin-top: 20px;
}
.pokemon-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  max-width: 80%;
  margin: auto;
  margin-top: 10px;
  gap: 20px;
  font-size: 10px;
}
.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 200px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(0, 166, 255, 0.3);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5),
    0 4px 6px -4px rgba(0, 0, 0, 0.5);
}
.pokemon-card > img {
  width: 100%;
  max-width: 160px;
}
#pokemon-ball {
  width: 80px;
  height: auto;
}
