* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* root styles */
#root {
  /* background-color: #686868; */
  /* background-color: rgb(146, 160, 222); */
  /* font-family: "Poppins", sans-serif; */
  min-height: 100vh;
  font-family: "Press Start 2P", Arial, Helvetica Neue, Helvetica, sans-serif;
}
/* header styles */
.header {
  border: solid red 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 5%;
  font-weight: bold;
  gap: 10px;
  font-size: 20px;
  text-decoration: underline;

  /* background-color: rgb(36, 32, 32); */
  /* background-color: #001b38; */
  /* box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.3), */
  /* 0 4px 6px -4px rgba(255, 255, 255, 0.2); */
}
.header > h1 span {
  color: red;
}
/* score board styles */
.score-board {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 1% 5%;
}
.pokemon-cards-container {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  max-width: 80%;
  margin: 0 auto;
  gap: 20px;
}
.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid yellow;
  width: 180px;
  height: 200px;
}
.pokemon-card > img {
  width: 100%;
  max-width: 180px;
}
#pokemon-ball {
  width: 80px;
  height: auto;
}
